@page "/paymentInterest/list"
@using PaymentTrackingSystem.Web.Client.Pages.Layout
@layout PTSMainLayout
@using PaymentTrackingSystem.Client.Infrastructure.Interface
@using PaymentTrackingSystem.Shared
@using Radzen
@using Radzen.Blazor
@using System.Globalization

@inject ILogger<List> Logger
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="row">
    <div class="col-lg-6" align="left">
        <h2>Client Payment Interest Details</h2>
    </div>
    <div class="col-lg-6" align="right">
        <button @onclick="AddClient" class="btn btn-success fw-bold">
            <i class="fas fa-plus" aria-hidden="true"></i>
            &nbsp;&nbsp;Add Client
        </button>
    </div>
</div>
<div class="row">
    @if (errorMessage != null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
</div>
<div class="row">
    <div class="col-lg-12">
        @if (clientPaymentInterestData != null)
        {
            <RadzenDataGrid @ref="clientPaymentInterestGrid" class="radzen-grid radgen-grid-font"
                            Data="@clientPaymentInterestData"
                            TItem="ClientPaymentInterestViewModel"
                            EditMode="Radzen.DataGridEditMode.Single"
                            AllowFiltering="true"
                            AllowPaging="true"
                            AllowSorting="true"
                            PageSize="15"
                            GridLines="@GridLines">
                <Columns>
                    <RadzenDataGridColumn Property="InterestId" Title="Id" Width="100" Visible="false" />
                    <RadzenDataGridColumn Property="ClientName" Title="Client Name" />
                     <RadzenDataGridColumn Property="Amount" Title="Amount" >
                        <Template Context="data">
                            <span style="color:red;font-weight:bold;">
                                @data.Amount.ToString("C", CultureInfo.CreateSpecificCulture("en-GB"))
                            </span>
                        </Template>
                     </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="InterestAmount" Title="Interest Amount"  >
                        <Template Context="data">
                            <span style="color:orange;font-weight:500;">
                                @data.InterestAmount.ToString("C", CultureInfo.CreateSpecificCulture("en-GB"))
                            </span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Property="InterestPaidDate" Title="Interest Paid Date"  >
                        <Template Context="data">
                            @data.InterestPaidDate.Value.ToString("dd/MM/yyyy")
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="ClientPaymentInterestViewModel">
                        <Template Context="data">
                            <RadzenButton ButtonType="Radzen.ButtonType.Button"
                                          Icon="edit" Size="Radzen.ButtonSize.Small"
                                          Style="margin-right:5px;"
                                          Click="@(() => EditRow(data))" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ClientPaymentInterestViewModel">
                        <Template Context="data">
                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger"
                                          Size="Radzen.ButtonSize.Small"
                                          Style="margin-left:5px;"
                                          Click="@(() => DeleteRow(data))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
    </div>
</div>


